{
    "variables": {
        "client_id": "{{client_id}}",
        "client_secret": "{{client_secret}}",
        "subscription_id": "{{subscription_id}}",
        "tenant_id": "{{tenant_id}}",
        "resource_group": "{{resource_group_name}}",
        "build_resource_group": "{{build_resource_group_name}}",
        "image_name": "{{output_image_name}}",
        "shared_image_gallery_resource_group": "tipi-images",
        "shared_image_gallery_name": "tipi_image_gallery",
        "shared_image_gallery_image_version": "0.0.1"
    },
    {{! Changing the mustache delimiters to <% ... %> in order to preserve function of the packer-templating which uses curlies as well }}
    {{=<% %>=}}
    "sensitive-variables": [
        "install_password",
        "client_secret"
    ],
    "builders": [
        {
            "name": "azure",
            "type": "azure-arm",
            "client_id": "{{user `client_id`}}",
            "client_secret": "{{user `client_secret`}}",
            "subscription_id": "{{user `subscription_id`}}",
            "tenant_id": "{{user `tenant_id`}}",
            "managed_image_resource_group_name": "{{user `resource_group`}}",
            "build_resource_group_name": "{{user `build_resource_group`}}",
            "os_type": "Windows",
            "managed_image_name": "{{user `image_name`}}",
            "vm_size": "Standard_D8d_v4",            
            "image_publisher": "MicrosoftWindowsServer",
            "image_offer": "WindowsServer",
            "image_sku": "2016-Datacenter",
            "communicator": "winrm",
            "winrm_use_ssl": true,
            "winrm_insecure": true,
            "winrm_timeout": "30m",
            "winrm_username": "packer",
            "shared_image_gallery_destination": {
                "resource_group": "{{user `shared_image_gallery_resource_group`}}",
                "gallery_name": "{{user `shared_image_gallery_name`}}",
                "image_name": "{{user `image_name`}}",
                "image_version": "{{user `shared_image_gallery_image_version`}}",
                "replication_regions": ["Central US", "East US", "North Europe", "West Europe"],
                "storage_account_type": "Standard_LRS"
            },
            "shared_image_gallery_timeout": "1h30m",
            "shared_image_gallery_replica_count": 1,
            "azure_tags": {
                "dept": "Engineering",
                "task": "Image deployment"
            }
        }
    ],
    "provisioners": [
        {
            "type": "file",
            "source": "./scripts/runtime/sync-tipi-distro.ps1",
            "destination": "c:\\Temp\\sync-tipi-distro.ps1"
        },
        {
            "type": "file",
            "source": "./scripts/runtime/helpers.ps1",
            "destination": "c:\\Temp\\helpers.ps1"
        },
        {
            "type": "powershell",
            "elevated_user": "packer",
            "elevated_password": "{{.WinRMPassword}}",
            "scripts": [
                "./scripts/fix-tls.ps1",
                "./scripts/update-root-certificate-store.ps1",
                "./scripts/install-nuget.ps1",
                "./scripts/install-openssh.ps1",
                "./scripts/install-git.ps1",
                "./scripts/install-vcredist.ps1"
                "./scripts/disable-windows-update.ps1",
                "./scripts/disable-windows-defender.ps1"
            ]
        },
        {
            "type": "windows-restart"
        },
        {
            "type": "powershell",
            "elevated_user": "packer",
            "elevated_password": "{{.WinRMPassword}}",
            "scripts": [
                "./scripts/install-tipi.ps1"
            ]
        },
        {
            "type": "powershell",
            "inline": [
                "& $env:SystemRoot\\System32\\Sysprep\\Sysprep.exe /oobe /generalize /quiet /quit",
                "while($true) { $imageState = Get-ItemProperty HKLM:\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Setup\\State | Select ImageState; if($imageState.ImageState -ne 'IMAGE_STATE_GENERALIZE_RESEAL_TO_OOBE') { Write-Output $imageState.ImageState; Start-Sleep -s 10  } else { break } }"
            ]
        }
    ]
}